@import "leaflet/dist/leaflet.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: white;
  overflow-x: hidden;
}

/* Smooth hover */
button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}